.dashboard-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    width: 600px;
    background: #ffffff;
    padding-bottom: 30px;
}

.dashboard-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 20px;
}

.dashboard-text{
    color: #3c009d;
    font-size: 48px;
    font-weight: 700;
}

.dashboard-text-message{
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    margin:5px;
}

.dashboard-underline{
    width: 61px;
    height: 6px;
    background: #3c009d;
    border-radius: 9px;
}

.dashboard-submit-container{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    gap:5px;
}

.dashboard-submit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700px;
    cursor: pointer;
}

.dashboard-submit-camera{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 40px;
    color: #fff;
    background: #045857;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 700px;
    cursor: pointer;
}

.dashboard-submit-link{
    color: #ffffff;
}

.dashboard-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.dashboard-submit-logout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px; 
    width: 170px;
    height: 45px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
}
