.examination-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    width: 600px;
    background: #ffffff;
    padding-bottom: 30px;
}

.examination-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 20px;
}

.examination-text{
    color: #3c009d;
    font-size: 48px;
    font-weight: 700;
}

.examination-text-message{
    color: #3c009d;
    font-size: 24px;
    font-weight: 700;
}

.examination-underline{
    width: 61px;
    height: 6px;
    background: #3c009d;
    border-radius: 9px;
}

.examination-submit-container{
    display: flex;
    gap: 30px;
    margin: 40px auto;
}

.examination-submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700px;
    cursor: pointer;
}

.examination-submit-link{
    color: #ffffff;
}
