.update-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    width: 600px;
    background: #ffffff;
    padding-bottom: 10px;
}

.update-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 20px;
}

.update-text{
    color: #3c009d;
    font-size: 48px;
    font-weight: 700;
}

.update-underline{
    width: 61px;
    height: 6px;
    background: #3c009d;
    border-radius: 9px;
}

.update-inputs{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.update-input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
}

.update-input img{
    margin: 0px 30px;
}

.update-input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.update-submit-container{
    display: flex;
    gap: 20px;
    margin: 40px auto;
}

.update-submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700px;
    cursor: pointer;
}

.update-submit-link{
    color: #ffffff;
}

