.dashboard-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    width: 600px;
    background: #ffffff;
    padding-bottom: 10px;
}

.dashboard-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 20px;
}

.dashboard-text{
    color: #3c009d;
    font-size: 48px;
    font-weight: 700;
}

.dashboard-underline{
    width: 61px;
    height: 6px;
    background: #3c009d;
    border-radius: 9px;
}

.dashboard-inputs{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.dashboard-input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
}

.dashboard-input img{
    margin: 0px 30px;
}

.dashboard-input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.dashboard-submit-container{
    display: flex;
    gap: 20px;
    margin: 40px auto;
}

.dashboard-submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #4a00b3;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700px;
    cursor: pointer;
}

.dashboard-submit-link{
    color: #ffffff;
}

.dashboard-table {
  background-color: #35017d;
  margin: 20px auto;
  width: 90%;
}

.dashboard-table-data{
    background-color: #e8e8e8;
    font-weight: 500;
}


.dashboard-table td {
  color: #000000; 
}

.dashboard-update-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 30px;
    color: #fff;
    background: #07a007;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 700px;
    cursor: pointer;
    margin-bottom: 4px;
    margin-top: 2px;
}

.dashboard-delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 30px;
    color: #fff;
    background: #b60a0a;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 700px;
    cursor: pointer;
    margin-bottom: 2px;
}

.dashboard-actions {
    display: flex;
    flex-direction: column;      
    justify-content: center;     
    align-items: center;        
}


