.success-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    width: 600px;
    background: #ffffff;
    padding-bottom: 30px;
}

.success-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 20px;
}

.success-text{
    color: #3c009d;
    font-size: 48px;
    font-weight: 700;
}

.success-text-message{
    color: #3c009d;
    font-size: 24px;
    font-weight: 700;
}

.success-underline{
    width: 61px;
    height: 6px;
    background: #3c009d;
    border-radius: 9px;
}

.success-inputs{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.success-input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
}

.success-input img{
    margin: 0px 30px;
}

.success-input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.success-submit-container{
    display: flex;
    gap: 30px;
    margin: 40px auto;
}

.success-submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 59px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700px;
    cursor: pointer;
}

.success-submit-link{
    color: #ffffff;
}
